$gray: #eaecee;
$light-gray: #f9f9fa;
$deep-gray: #474d57;
$gray-text: #707a8a;
$gray-text2: #9ba3b1;
$gray-text3: #686868;
$gray-text4: #d5d5d5;
$gray-text5: #626971;
$gray-text6: #a3a1a3;

$black-text: #1d2329;
$brand-color: #61bd6b;
$brand-color2: #9ad095;
$checkbox-15: 1.153846153846154;
$timelineList: "first" "1", "second" "2", "third" "3", "fourth" "4", "fifth" "5";
$height-btn: 50px;
$gnb-height: 11.25rem;
$table-bg: #626972;
$select-disable-border: #b3b4b4;
$select-disable-bg: #eaeced;
$white: #fff;
$red-text: #cf2e4b;

$input-border: #7b7b7b;
$bg-panel: #f7f9fb;
$dashed-color: #bcbcbc;
$black: #000;
$panel-title-color: #202020;
$panel-green-title-color: #64bd5e;
$panel-text-color: #565656;
$panel-type-color: #4caf55;

$panel-carret-color: #8b8b8b;
$pc-input-height: 45px;
$mo-input-height: 5rem;
$pc-textarea-height: 220px;
$btn-disable-color: #b9b9ba;
$mobile: 480px;

$cdn: "https://web-cdn.mironline.co.kr/onestop/mir2/images";