@font-face {
    font-family: Infinity Sans;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local(""),
      url("https://web-cdn.mironline.co.kr/fonts/InfinitySans/InfinitySansWMR-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: Infinity Sans;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local(""),
      url("https://web-cdn.mironline.co.kr/fonts/InfinitySans/InfinitySansWM-Bold.ttf") format("truetype");
  }